vrrp_instance VI_1 {
    interface {{ floating_ip_eth_dev }}
    virtual_router_id 1
    priority {{ floating_ip_priority }}

    advert_int 5
    virtual_ipaddress {
    {{ floating_ipaddr }}
    }
}